/* Navbar Styles */
.navbar {
  background-color: var(--bg-color);
  color: var(--terminal-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-brand {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center the items */
}

.nav-brand a {
  text-decoration: none; /* Remove underline from the link */
  display: flex; /* Use flex for proper alignment */
  align-items: center; /* Vertically center the text and the span */
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: none;
  width: 150px;
}

.logo-name {
  display: inline-block;
  width: 0; /* Start with zero width */
  overflow: hidden; /* Hide overflow */
  transition: all 1s ease; /* Animate the width */
  visibility: hidden; /* Hide the element */
  white-space: nowrap; /* Prevent text wrapping */
}

.nav-brand:hover .logo-name {
  width: auto; /* Set to auto width on hover */
  visibility: visible; /* Make it visible */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 10px; /* Add some padding for spacing */
}

.nav-links a:hover,.nav-links a.active {
  color: var(--accent-color);  font-weight: bold; /* Make the active link bold */
  border-bottom: 2px solid var(--accent-color); /* Optional: underline effect */
}





/* Theme Toggle Button */
.theme-toggle {
  border: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
  width: 1.75rem;
  height: 1.75rem;
  overflow: hidden;
}

/* Theme Toggle Button */
.theme-toggle img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}